<h1>Welcome <%= user.username %></h1>

<p>Servers: <%= stats.servers %></p>
<p>Users: <%= stats.users %></p>
<p>Ping: <%= stats.ping %>ms</p>

<h2>Your Servers</h2>

<% guilds.forEach(g => { %>
    <a href="/server/<%= g.id %>"><%= g.name %></a><br>
<% }) %>